<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Rockpaperscissors", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header class="jumbotron">
      <section class="container">
        <h1 class="display-4"><a href="/">Rock, Paper, Scissors</a></h1>
        <p class="lead" id="subtitle">A simple game with unnecessary overhead</p>
      </section>
    </header>
    
    <%= @inner_content %>

    <footer>
      <section class="container">
        <a href="about">About</a>
      </section>
    </footer>
  </body>
</html>
